/* ----------------------------------------------------------------------------
   The css in this file is for the 'articles' layout. 
   IT MUST BE USED IN OTHER LAYOUTS, EVEN IF THIS MEANS THAT CSS IS DUPLICATED.
   ---------------------------------------------------------------------------- */

.articles {
    margin: 0;
    border: 0;
    padding: 0;
}

.articles .float-image-left {
    float: left;
    margin: 0.3em 1em 0.25em 0;
    border: 1px solid black;
    padding: 0;
    max-width: 40%;
}
.articles .float-image-right {
    float: right;
    margin: 0.3em 0 0.25em 1em;
    border: 1px solid black;
    padding: 0;
    max-width: 40%;
}

@media (min-width: 500px) {
    .articles .float-image-left {
        max-width: 35%;
    }
    .articles .float-image-right {
        max-width: 35%;
    }
}

.articles ol {
    list-style: decimal; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.25em;
    line-height: 1.4;
}

.articles li {
    list-style: decimal; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.25em;
    line-height: 1.4;
}

@media (min-width: 500px) {
    .articles ol {
        padding: 0 0 0 0.5em;
    }
    
    .articles li {
        padding: 0 0 0 0.5em;
    }
}