/* ----------------------------------------------------------------------------
   The css in this file is for the 'categories' layout. 
   IT MUST BE USED IN OTHER LAYOUTS, EVEN IF THIS MEANS THAT CSS IS DUPLICATED.
   ---------------------------------------------------------------------------- */

.categories {
    margin: 0;
    border: 0;
    padding: 0;
}

.categories .category-links p {
    margin: 0.75em 0 0 0;
    border: 0;
    padding: 0;
    line-height: 1;
}

@media screen and (min-width: 576px) {
    .categories .category-links p{
        margin: 0.5em 0 0 0;
        border: 0;
        padding: 0;
        line-height: 1;
    }
}

@media screen and (min-width: 768px) {
    .categories .category-links p{
        margin: 0.75em 0 0 0;
        border: 0;
        padding: 0;
        line-height: 1;
    }
}