/* ----------------------------------------------------------------------------
   The css in this file is for the 'l-standard-centre' layout. 
   IT MUST BE USED IN OTHER LAYOUTS, EVEN IF THIS MEANS THAT CSS IS DUPLICATED.
   ---------------------------------------------------------------------------- */

.l-standard-centre {
    margin: 0;
    border: 0;
    padding: 0;
}

.l-standard-centre h1 {
    text-align: center;
}
.l-standard-centre h2 {
    text-align: center;
}
.l-standard-centre h3 {
    text-align: center;
}
.l-standard-centre h4 {
    text-align: center;
}
.l-standard-centre h5 {
    text-align: center;
}
.l-standard-centre h6 {
    text-align: center;
}
.l-standard-centre p {
    text-align: center;
}

.l-standard-centre p .img-landscape {
    text-align: center;
    max-width: 60%;
    height: auto;
    margin: 0.3em 0 0.3em 0;
    border: 1px solid black;
}

.l-standard-centre p .img-portrait {
    text-align: center;
    max-width: 30%;
    height: auto;
    margin: 0.3em 0 0.3em 0;
    border: 1px solid black;
}