.clear-both {
    clear: both;
}

.text-centre {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.no-mbp {
    margin: 0;
    border: 0;
    padding: 0;
}

.indent-left-and-right {
    margin-left: auto;
    margin-right: auto;
}
.width-90 {
    width: 90%;
}

.maxwidth-05 { max-width: 5%}
.maxwidth-10 { max-width: 10%}
.maxwidth-15 { max-width: 15%}
.maxwidth-20 { max-width: 20%}
.maxwidth-25 { max-width: 25%}
.maxwidth-30 { max-width: 30%}
.maxwidth-35 { max-width: 35%}
.maxwidth-40 { max-width: 40%}
.maxwidth-45 { max-width: 45%}
.maxwidth-50 { max-width: 50%}
.maxwidth-55 { max-width: 55%}
.maxwidth-60 { max-width: 60%}
.maxwidth-65 { max-width: 65%}
.maxwidth-70 { max-width: 70%}
.maxwidth-75 { max-width: 75%}
.maxwidth-80 { max-width: 80%}
.maxwidth-85 { max-width: 85%}
.maxwidth-90 { max-width: 90%}
.maxwidth-95 { max-width: 95%}

.minwidth-05 { min-width: 5%}
.minwidth-10 { min-width: 10%}
.minwidth-15 { min-width: 15%}
.minwidth-20 { min-width: 20%}
.minwidth-25 { min-width: 25%}
.minwidth-30 { min-width: 30%}
.minwidth-35 { min-width: 35%}
.minwidth-40 { min-width: 40%}
.minwidth-45 { min-width: 45%}
.minwidth-50 { min-width: 50%}
.minwidth-55 { min-width: 55%}
.minwidth-60 { min-width: 60%}
.minwidth-65 { min-width: 65%}
.minwidth-70 { min-width: 70%}
.minwidth-75 { min-width: 75%}
.minwidth-80 { min-width: 80%}
.minwidth-85 { min-width: 85%}
.minwidth-90 { min-width: 90%}
.minwidth-95 { min-width: 95%}

/* ------------------------------------------------------------------ */

.container {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    margin: 0.2em;
}

.container .header-area {
    flex: 0 0 auto;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

.container .article-area {
    flex: 1 0 auto;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .footer-area {
    flex: 0 0 auto;
    margin: 1.0em 0 0 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 576px) {
    .container {
        margin: 0.3em;
    }
    .container .article-area {
        margin: 0.25em 0 0 0;
        border: 0;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin: 0.4em;
    }
    .container .article-area {
        margin: 0.5em 0 0 0;
        border: 0;
        padding: 0;
    }
}

/* -------------------------------------------------------------------------
   To do with type 01 headers - only used in the 'header-body' include file. 
   Keep this so. The number will increase as other types of header are 
   developed.
   ------------------------------------------------------------------------- */

.header01-image {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    border: 0;
    padding: 0;
}

.header01-image img {
    width:100%;
    border: 1px solid black;
}

.header01-image .header01-image-bc {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header01-image p {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
}
.header01-image p a:link {
    color: white;
    text-decoration: none;
}
.header01-image p a:visited {
    color: white;
    text-decoration: none;
}
.header01-image p a:hover {
    color: white;
    text-decoration: underline;
}
.header01-image p :active {
    color: white;
    text-decoration: none;
} 

@media screen and (min-width: 576px) {
    .header01-image .header01-image-bc {
        bottom: 16px;
    }
    .header01-image p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) {
    .header01-image .header01-image-bc {
        bottom: 20px;
    }
    .header01-image p {
        font-size: 2.0rem;
    }
}


.header01-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.0em 0.5em 0 0.5em;
    border: 0;
    /* border: 1px solid red; */
    padding: 0;
}

.header01-nav .header01-nav-item {
    flex: 0 0 auto;
    margin: 0.6em 0 0 0;
    border: 0;
    padding: 0 0.2em 0 0.2em;
    line-height: 1;
    font-size: 1.2rem;
}

.header01-nav  .header01-nav-cur {
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    .header01-nav {
        margin: 0.5em 0.5em 0 0.5em;
        /* border: 1px solid green; */
    }
    .header01-nav .header01-nav-item{
        margin: 0.5em 0 0 0;
        border: 0;
        padding: 0 0.2em 0 0.2em;
        line-height: 1;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .header01-nav {
        margin: 0.0em 0.5em 0 0.5em;
        /* border: 1px solid blue; */
    }
    .header01-nav .header01-nav-item{
        margin: 0.4em 0 0 0;
        border: 0;
        padding: 0 0.3em 0 0.3em;
        line-height: 1;
        font-size: 1.5rem;
    }
}

/* ------------------------------------------------------------------
   To do with footers - only used in the 'footer' include file. Keep
   this so
   ------------------------------------------------------------------ */

.foot-text {
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 0;
}

.foot-text > p {
    margin: 0.5em 0 0.5em 0;
    border: 10;
    padding: 0;
    font-size: 0.9rem;
}

.foot-text > .foot-text-left {
    float: none;
    text-align: center;
    line-height: 1;
}
.foot-text > .foot-text-right {
    float: none;
    text-align: center;
    line-height: 1;
}

@media screen and (min-width: 576px) {
    .foot-text > p {
        font-size: 1.1rem;
    }    
    /* This is not required - left/right text still on separate lines
    .foot-text > .foot-text-left {
        float: left;
        text-align: left;
        }
    .foot-text > .foot-text-right{
        float: right;
        text-align: right;
    } */
} 

@media screen and (min-width: 768px) {
    .foot-text > p {
        font-size: 1.15rem;
    }    
    .foot-text > .foot-text-left {
        float: left;
        text-align: left;
        }
    .foot-text > .foot-text-right{
        float: right;
        text-align: right;
    }
}

.foot-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    margin: 0.25em 0 1em 0;
}

.foot-nav .foot-nav-item {
    flex: 0 0 auto; 
    margin: 0;
    padding: 0 0.35em 0 0.35em;
    line-height: 1.4;
}

.foot-nav .foot-nav-cur {
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    .foot-nav {
        margin-top: 0em;
        margin-bottom: 0.25em;
    }

    .foot-nav .foot-nav-item {
        padding: 0 0.25em 0 0.25em;
        line-height: 1.4;
    }
}

@media screen and (min-width: 768px) {
    .foot-nav {
        margin-top: 0em;
        margin-bottom: 0.25em;
    }

    .foot-nav .foot-nav-item {
        padding: 0 0.25em 0 0.25em;
        line-height: 1.6;
    }
}
