/* ----------------------------
   To do with a post list page.
   ------------------------- */

.post-list {
    margin: 0;
    border: 0;
    padding: 0;
}

/* ----------------------------------------------*/

.post-list .posts-first-summary {
    margin: 1em 0 0 0;
    border: 0;
    padding: 0;
}
.post-list .posts-subsequent-summary {
    margin: 1em 0 0 0;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 0;
}

/* ----------------------------------------------*/

/* .post-list.posts-summary-photo {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.post-list .posts-summary-photo .image {
    flex: 100% 0 0;
    margin: 0;
    border: 0;
    padding: 0.5em 0 0 0;
}

.post-list .posts-summary-photo .image img {
    width: 100%;
}

.post-list .posts-summary-photo .text {
    flex: 100% 0 0;
    margin: 0;
    border: 0;
    padding: 0;
}

@media screen and (min-width: 576px) {

    .post-list .posts-summary-photo {
        align-items: center;
    }
    .post-list .posts-summary-photo > .image {
        flex: 35% 0 0;
        margin: 0;
        border: 0;
        padding: 1em 1em 0 0;
    }
    .post-list .posts-summary-photo > .text {
        flex: 65% 0 0;
        margin: 0;
        border: 1em 1em 0 1em;
        padding: 0;
    }
}  */

/* ----------------------------------------------*/

.post-list .posts-summary-basic {
    margin: 0;
    border: 0;
    padding: 0;
}

.post-list .posts-summary-basic p {
    margin: 0;
    border: 0;
    padding: 0.2em 0 0 0;
    line-height: 1.3;
}

/* @media screen and (min-width: 576px) {
    .post-list .posts-summary-basic p {
        padding: 0.2em 0 0 0;
        line-height: 1.3;
    }
} */

/* ----------------------------------------------*/

.post-list .posts-summary-bottom {
    margin: 0;
    border: 0; 
    padding: 0.2em 0 0 0;
}

.post-list .posts-summary-bottom p {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1.0rem;
}

@media screen and (min-width: 576px) {
    .post-list .posts-summary-bottom {
        padding: 0.3em 0 0 0;
    }
    .post-list .posts-summary-bottom p {
        font-size: 1.1rem;
    }
}

.post-list .posts-pages-nav {
    display: flex;
    flex: row;
    justify-content: center;
    margin: 1.3em 0 0 0;
    border: 0;
    padding: 0;
}

.post-list .posts-pages-nav > p > .posts-pages-nav-item {
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0 .2em 0 .2em;
}

.post-list .posts-pages-nav > p >  .posts-pages-nav-item-cur {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 576px) {
    .post-list .posts-pages-nav > p > .posts-pages-nav-item {
        padding: 0 .2em 0 .2em;
    }
}
