.standard-centre {
    margin: 0;
    border: 0;
    padding: 0;
}

.standard-centre h1 {
    text-align: center;
}
.standard-centre h2 {
    text-align: center;
}
.standard-centre h3 {
    text-align: center;
}
.standard-centre h4 {
    text-align: center;
}
.standard-centre h5 {
    text-align: center;
}
.standard-centre h6 {
    text-align: center;
}
.standard-centre p {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.standard-centre p .image-center-landscape {
    clear: both;
    display: block;
    text-align: center;
    margin: 0.3em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 100%;
}

.standard-centre p .image-center-portrait {
    clear: both;
    display: block;
    text-align: center;
    margin: 0.3em auto 0.25em auto;
    border: 1px solid black;
    padding: 0;
    width: 50%;
}

@media screen and (min-width: 550px) {
    .standard-centre p {
        margin-left: 10%;
        margin-right: 10%;
    }
    .standard-centre p .image-center-landscape {
        width: 70%;
        border: 1px solid black;
    }
    .standard-centre p .image-center-portrait {
        width: 35%;
        border: 1px solid black;
    }
}

/* --------------------------------------------------------------------------- */

.daily-photo-link {
    margin: 0.6em 0 0.6em 0;
    border: 0;
    padding: 0;
}

.daily-photo-bottom {
    margin: 1.5em 0 0 0;
    padding: 0;
    width: 100%;
}

.daily-photo-bottom > p {    
    margin: 0.6em 0 0 0;
    line-height: 1.0;
}
@media screen and (min-width: 550px) {
    .daily-photo-bottom {
        margin: 1.5em 0 0 0;
    }    
    .daily-photo-bottom > p {   
        margin: 0.5em 0 0 0; 
    }
}

/* --------------------------------------------------------------------------- */

.post-bottom > p {    
    margin: 0.6em 0 0 0;
    line-height: 1.0;
}
@media screen and (min-width: 550px) {
    .post-bottom {
        margin: 1.5em 0 0 0;
    }    
    .post-bottom > p {   
        margin: 0.5em 0 0 0; 
    }
}