/* ----------------------------------------------------------------------------
   The css in this file is for the 'subjects' layout. 
   IT MUST BE USED IN OTHER LAYOUTS, EVEN IF THIS MEANS THAT CSS IS DUPLICATED.
   ---------------------------------------------------------------------------- */

.subjects {
    margin: 0;
    border: 0;
    padding: 0;
}

.subjects .float-image-left {
    float: left;
    margin: 0.3em 1em 0.25em 0;
    border: 1px solid black;
    padding: 0;
    max-width: 40%;
}
.subjects .float-image-right {
    float: right;
    margin: 0.3em 0 0.25em 1em;
    border: 1px solid black;
    padding: 0;
    max-width: 40%;
}

@media (min-width: 500px) {
    .subjects .float-image-left {
        max-width: 35%;
    }
    .subjects .float-image-right {
        max-width: 35%;
    }
}

.subjects ol {
    list-style: decimal; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.25em;
    line-height: 1.4;
}

.subjects li {
    list-style: decimal; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.25em;
    line-height: 1.4;
}

@media (min-width: 500px) {
    .subjects ol {
        padding: 0 0 0 0.5em;
    }
    
    .subjects li {
        padding: 0 0 0 0.5em;
    }
}