/* -------------------------
   To do with the tags page.
   ---------------------- */

.article-area .post-tags-nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0 0 0;
    border: 0;
    padding: 0;
}

.article-area .post-tags-nav p {   
    flex: 0 0 auto; 
    line-height: 1;
    margin: 0 0 0.5em 0;
    border: 0;
    padding: 0 .2em 0 0.2em;
}

.article-area .post-tags-nav p:not(:last-child) {   
    border-right: 1px solid rgb(150, 150, 150);
}

@media screen and (min-width: 500px) {
    .article-area .post-tags-nav p  {
        margin: 0 0 0.75em 0;
        padding: 0 .2em 0 .2em;
    }
}